.cardsCont {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background {
  min-height: 100vh;
  width: 570px;
  background: url('/images/bg-main-desktop.png') center no-repeat;
  background-size: cover;
}

.frontCard,
.backCard {
  width: 447px;
  height: 245px;
  border-radius: 13px;
  box-shadow: 5px 15px 40px hsla(278, 68%, 11%, 0.195);
}

.cards {
  position: relative;
}

.frontCard {
  background: url('/images/bg-card-front.png');
  position: absolute;
  top: 235px;
  left: 270px;
}

.backCard {
  background: url('/images/bg-card-back.png');
  position: absolute;
  top: 515px;
  left: 350px;
}

.frontCard img {
  margin: 1.5rem;
}
.cardNum {
  color: var(--white);
  font-size: 30px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 24%;
  left: 27px;
}
.name,
.expDate {
  position: absolute;
  bottom: 7%;
  color: var(--white);
}
.name {
  left: 27px;
  text-transform: uppercase;
  font-size: 15px;
}
.expDate {
  right: 27px;
  color: var(--white);
}
.expDate p,
.expDate p span {
  font-size: 14px;
}

.cvc {
  position: absolute;
  right: 57px;
  bottom: 115px;
  color: var(--white);
  letter-spacing: 2px;
  font-size: 15px;
}

@media (max-width: 1550px) {
  .cardsCont {
    flex: 0;
  }
  .background {
    width: 400px;
  }

  .frontCard {
    left: 100px;
  }

  .backCard {
    left: 180px;
  }
}

@media (max-width: 1050px) {
  .background {
    background: url('/images/bg-main-mobile.png') center no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 30vh;
    margin: 0;
    padding: 0;
  }

  .frontCard,
  .backCard {
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 200px;
  }
  .frontCard {
    z-index: 2;
    top: 135px;
    left: 300px;
  }
  .backCard {
    top: 40px;
    left: 410px;
  }

  .cvc {
    bottom: 92px;
    right: 40px;
  }
  .cardNum {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .frontCard {
    left: 130px;
  }
  .backCard {
    left: 240px;
  }
}

@media (max-width: 620px) {
  .frontCard {
    left: 30px;
  }
  .backCard {
    left: 110px;
  }
}

@media (max-width: 470px) {
  .frontCard {
    left: 10px;
  }
  .backCard {
    top: 20px;
    left: 50px;
  }
}
