.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  color: var(--black);
}

.expNCvc {
  display: flex;
  gap: 0.3rem;
}

.inputContainer .monthNYear {
  display: flex;
  gap: 0.8rem;
}
.inputContainer .monthNYear input {
  width: 43%;
}

.btn {
  background-color: var(--black);
  padding: 0.7rem;
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.cvcInp {
  width: 100%;
}

.inputContainer label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.inputContainer input {
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--gray);
  outline: none;
}
.inputContainer input:focus {
  border-image: linear-gradient(45deg, #6448fe, #600594) 1;
}

.inputContainer input::placeholder {
  color: var(--dark-gray);
}

.errorInp {
  border-color: var(--red) !important;
}
.error {
  color: var(--red);
  font-size: 15px;
  display: block;
}

.hidden {
  display: none;
}

.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  gap: 1rem;
}

.complete h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.complete p {
  margin-bottom: 1rem;
}

.complete button {
  width: 100%;
}

@media (max-width: 550px) {
  .form {
    width: 100%;
    padding: 1rem;
  }

  .complete {
    width: 100vw;
    padding: 1rem;
  }
}
